/* body {
    
} */

#title {
    background-color: #fff;
    padding: 0 120px 0;
}


.nav-item{
    position: relative;
    margin-left: 40px;
}

.navbar-brand {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2E3334;
}

.navbar-nav .active .nav-link {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

/* Hero Section */

.hero-content{
    width: 100%;
    max-width: 500px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #41A3B9;
    margin-top: 70px;
}

.hero-paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #2E3334;
    margin-top: 30px;
}

.hero-button {
    width: 232px;
    height: 48px;
    background: #41A3B9;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 31px;
}

/* .dot {
    position: absolute;
    left: 580px;
    top: 40px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(37, 150, 174, 0.87);
} */

/* .big-dot {
    width: 582.56px;
    height: 563px;
    border-radius: 50%;
    background: rgba(37, 150, 174, 0.87);
    position: absolute;
    left: 898px;
    top: -140px;
} */




/* Feature section */
#Feature {
    
    
    background: rgba(65, 163, 185, 0.1);
}


.feature-button {
    width: 232px;
    height: 48px;
    background: #41A3B9;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 31px;
}

.feature-paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #2E3334;
    margin-top: 30px;
    
}

.feature-quote {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #2E3334;
    margin-top: 30px;
    
    
}

.small-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #41A3B9;

    
    
}

#Feature .container {
    text-align: center;
    margin-top: 100px;
}

/* .feature-dot {
    position: absolute;
    width: 585.03px;
    height: 558.5px;
    left: -350px;
    top: 800px;
    border-radius: 50%;
    background: rgba(37, 150, 174, 0.87);
} */

/* #Our-Menu {
    height: 557px;
} */

#Testimonial {
    
    margin-bottom: 150px;
}





#Testimonial {
    text-align: center;
}

#reservation{
    text-align: center;


    /* height: 300px; */
    
    background: rgba(65, 163, 185, 0.1);
}

#contact-us{
    text-align: center;
}

@media (max-width: 982px) {
    
    #contact-us #reservation #Testimonial #Our-Menu #Feature {
        text-align: center;
        padding: 5px;
    }
    
    #Feature .container {
        text-align: center;
        padding: 5px;
    }
    
}
